# IDE files
.vscode/
*.pyc
*.pyo

# Logs
logs/
*.log
*.swp

# Environment
env/
venv/
.venv/
.env
.env.*

# Dependency directories
__pycache__/
dist/
build/
*.egg-info/

# Uploads and database files
upload/
migrations/
database.db
database.db-journal